#content-post_z65wpidsk .semplice-cover .show-more svg,
#content-post_z65wpidsk .semplice-cover .show-more img {
	width: 2.9444rem;
}

#content-post_z65wpidsk .semplice-cover .show-more svg {
	fill: transparent;
}

.cover-transparent {
	background: rgba(0, 0, 0, 0) !important;
}

#content-post_z65wpidsk .sections {
	margin-top: 0px !important;
}

#content-post_z65wpidsk #cover-194 .cover-image {
	background-color: #f9fafa;
}

#content-post_z65wpidsk #content_1673d5a36 {
	padding-top: 0.4444444444444444rem;
}

#content-post_z65wpidsk #content_1673d5a36 .is-content {}

#content-post_z65wpidsk #content_f12940c89 {
	padding-top: 0.8888888888888888rem;
	padding-right: 11.11111111111111rem;
	margin-bottom: 2.2222222222222223rem;
	padding-left: 11.11111111111111rem;
}

#content-post_z65wpidsk #content_f12940c89 .is-content {}

@media screen and (min-width: 992px) and (max-width: 1169.98px) {
	#content-post_z65wpidsk #content_f12940c89 {
		padding-right: 2.2222222222222223rem;
		padding-left: 2.2222222222222223rem;
	}
	#content-post_z65wpidsk #content_f12940c89 .is-content {}
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	#content-post_z65wpidsk #content_f12940c89 {
		padding-right: 2.6666666666666665rem;
		padding-left: 2.6666666666666665rem;
	}
	#content-post_z65wpidsk #content_f12940c89 .is-content {}
}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_f12940c89 {
		padding-right: 3.5555555555555554rem;
		padding-left: 3.5555555555555554rem;
	}
	#content-post_z65wpidsk #content_f12940c89 .is-content {}
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #content_f12940c89 {
		padding-right: 1.1111111111111112rem;
		padding-bottom: 0rem;
		padding-left: 1.1111111111111112rem;
	}
	#content-post_z65wpidsk #content_f12940c89 .is-content {}
}

#content-post_z65wpidsk #content_05c0d4ac6 {
	padding-top: 0rem;
	margin-top: 0rem;
}

#content-post_z65wpidsk #content_05c0d4ac6 .is-content {}

@media screen and (min-width: 992px) and (max-width: 1169.98px) {
	#content-post_z65wpidsk #content_05c0d4ac6 {
		padding-top: 0rem;
	}
	#content-post_z65wpidsk #content_05c0d4ac6 .is-content {}
}

#content-post_z65wpidsk #content_05c0d4ac6 .is-content {
	opacity: 1;
	border-color: #000000;
	border-width: 0;
	background-color: transparent;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	transform: translateY(0) translateX(0) rotate(0deg) rotateY(0deg) rotateX(0deg) skew(0deg, 0deg) scale(0.8, 0.8);
}

#content-post_z65wpidsk #section_4954615ee {
	padding-bottom: 3rem;
	padding-top: 0rem;
	margin-top: 0rem;
	background-color: #ffffff;
}

#content-post_z65wpidsk #column_e1e4f3b3d {
	padding-top: 3.5555555555555554rem;
	padding-bottom: 4.444444444444445rem;
	background-color: transparent;
}

#content-post_z65wpidsk #content_f983defa0 {
	padding-top: 0.4444444444444444rem;
	padding-bottom: 0rem;
	padding-left: 0rem;
}

#content-post_z65wpidsk #content_f983defa0 .is-content {}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	#content-post_z65wpidsk #content_f983defa0 {
		padding-left: 2.2222222222222223rem;
	}
	#content-post_z65wpidsk #content_f983defa0 .is-content {}
}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_f983defa0 {
		padding-left: 2.6666666666666665rem;
	}
	#content-post_z65wpidsk #content_f983defa0 .is-content {}
}

#content-post_z65wpidsk #content_cf3c201d3 {
	padding-top: 1.3333333333333333rem;
	padding-right: 0rem;
	padding-bottom: 0rem;
	padding-left: 0rem;
}

#content-post_z65wpidsk #content_cf3c201d3 .is-content {}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	#content-post_z65wpidsk #content_cf3c201d3 {
		padding-left: 2.2222222222222223rem;
	}
	#content-post_z65wpidsk #content_cf3c201d3 .is-content {}
}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_cf3c201d3 {
		padding-right: 2.6666666666666665rem;
		padding-bottom: 0rem;
		padding-left: 2.6666666666666665rem;
	}
	#content-post_z65wpidsk #content_cf3c201d3 .is-content {}
}

#content-post_z65wpidsk #column_16e43168a {
	padding-top: 4.444444444444445rem;
	padding-bottom: 0rem;
	background-color: transparent;
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #column_16e43168a {
		padding-top: 0rem;
	}
}

#content-post_z65wpidsk #column_19f9f24c4 {
	padding-top: 3.5555555555555554rem;
	padding-bottom: 3.5555555555555554rem;
	background-color: transparent;
}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #column_19f9f24c4 {
		padding-top: 0rem;
	}
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #column_19f9f24c4 {
		padding-top: 0rem;
	}
}

#content-post_z65wpidsk #content_c117f783b {
	padding-top: 0.4444444444444444rem;
	padding-right: 2.6666666666666665rem;
	padding-bottom: 0rem;
	padding-left: 2.6666666666666665rem;
	background-color: transparent;
}

#content-post_z65wpidsk #content_c117f783b .is-content {}

@media screen and (min-width: 992px) and (max-width: 1169.98px) {
	#content-post_z65wpidsk #content_c117f783b {
		padding-right: 3.5555555555555554rem;
		padding-left: 0rem;
	}
	#content-post_z65wpidsk #content_c117f783b .is-content {}
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	#content-post_z65wpidsk #content_c117f783b {
		padding-left: 0rem;
	}
	#content-post_z65wpidsk #content_c117f783b .is-content {}
}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_c117f783b {
		padding-top: 0rem;
	}
	#content-post_z65wpidsk #content_c117f783b .is-content {}
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #content_c117f783b {
		padding-top: 0rem;
		padding-right: 0rem;
		padding-left: 0rem;
	}
	#content-post_z65wpidsk #content_c117f783b .is-content {}
}

#content-post_z65wpidsk #content_c117f783b .is-content {
	background-color: transparent;
	opacity: 1;
	border-color: #000000;
	border-width: 0;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	transform: translateY(3.5556rem) translateX(0rem) rotate(0deg) rotateY(0deg) rotateX(0deg) skew(0deg, 0deg) scale(1, 1);
}

#content-post_z65wpidsk #section_dafaec864 {
	padding-top: 5.333333333333333rem;
	background-color: transparent;
}

#content-post_z65wpidsk #column_e62420be1 {
	padding-top: 4.444444444444445rem;
}

#content-post_z65wpidsk #content_3d281e3fd {
	padding-top: 1.3333333333333333rem;
	margin-top: 1.3333333333333333rem;
}

#content-post_z65wpidsk #content_3d281e3fd .is-content {}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #content_3d281e3fd {
		padding-top: 0rem;
	}
	#content-post_z65wpidsk #content_3d281e3fd .is-content {}
}

#content-post_z65wpidsk #column_f401ade8a {
	padding-bottom: 6.666666666666667rem;
	background-color: transparent;
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #column_f401ade8a {
		padding-bottom: 3.5555555555555554rem;
	}
}

#content-post_z65wpidsk #section_ca99fd104 {
	padding-top: 5.333333333333333rem;
	background-color: transparent;
}

#content-post_z65wpidsk #column_zoka8ntnx {
	padding-top: 0rem;
}

#content-post_z65wpidsk #content_4hzfzgywh {
	padding-top: 6.666666666666667rem;
	padding-bottom: 0rem;
}

#content-post_z65wpidsk #content_4hzfzgywh .is-content {}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_4hzfzgywh {
		padding-right: 2.6666666666666665rem;
		padding-left: 2.6666666666666665rem;
	}
	#content-post_z65wpidsk #content_4hzfzgywh .is-content {}
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #content_4hzfzgywh {
		padding-top: 3.5555555555555554rem;
	}
	#content-post_z65wpidsk #content_4hzfzgywh .is-content {}
}

#content-post_z65wpidsk #content_kn3gw5b0w {
	padding-top: 1.3333333333333333rem;
	margin-right: 0rem;
	padding-bottom: 0rem;
	margin-bottom: 5.333333333333333rem;
}

#content-post_z65wpidsk #content_kn3gw5b0w .is-content {}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_kn3gw5b0w {
		padding-right: 2.6666666666666665rem;
		padding-left: 2.6666666666666665rem;
	}
	#content-post_z65wpidsk #content_kn3gw5b0w .is-content {}
}

#content-post_z65wpidsk #column_11ae3c7a8 {}

#content-post_z65wpidsk #content_2448d8f98 {
	padding-top: 1.3333333333333333rem;
	margin-top: 1.3333333333333333rem;
}

#content-post_z65wpidsk #content_2448d8f98 .is-content {}

#content-post_z65wpidsk #column_caaf795bc {
	padding-bottom: 6.666666666666667rem;
	background-color: transparent;
}

#content-post_z65wpidsk #column_zoka8ntnx {
	opacity: 1;
	border-color: #000000;
	border-width: 0;
	background-color: transparent;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	transform: translateY(2.6667rem) translateX(0rem) rotate(0deg) rotateY(0deg) rotateX(0deg) skew(0deg, 0deg) scale(1, 1);
}

#content-post_z65wpidsk #section_b3a15c9d7 {
	padding-top: 6.666666666666667rem;
}

#content-post_z65wpidsk #column_48c0d15ba {
	padding-top: 3.5555555555555554rem;
	padding-bottom: 4.444444444444445rem;
	background-color: #ffffff;
}

#content-post_z65wpidsk #content_bb18323bf {
	padding-top: 0.4444444444444444rem;
	margin-top: 0rem;
	padding-bottom: 0rem;
}

#content-post_z65wpidsk #content_bb18323bf .is-content {}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_bb18323bf {
		padding-left: 2.6666666666666665rem;
	}
	#content-post_z65wpidsk #content_bb18323bf .is-content {}
}

#content-post_z65wpidsk #content_25616d209 {
	padding-top: 1.3333333333333333rem;
	padding-bottom: 0rem;
	background-color: #ffffff;
	z-index: 3;
}

#content-post_z65wpidsk #content_25616d209 .is-content {}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_25616d209 {
		margin-top: 0rem;
		padding-right: 2.6666666666666665rem;
		padding-bottom: 3.5555555555555554rem;
		padding-left: 2.6666666666666665rem;
	}
	#content-post_z65wpidsk #content_25616d209 .is-content {}
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #content_25616d209 {
		padding-bottom: 0rem;
	}
	#content-post_z65wpidsk #content_25616d209 .is-content {}
}

#content-post_z65wpidsk #column_jdgwqwp5w {}

#content-post_z65wpidsk #content_mpjihe47o {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

#content-post_z65wpidsk #content_mpjihe47o .is-content {}

#content-post_z65wpidsk #column_hs23ng7dh {
	padding-top: 0rem;
}

#content-post_z65wpidsk #content_9m0sj92hv {
	padding-top: 0rem;
	margin-top: 4.444444444444445rem;
	margin-right: 0rem;
	padding-bottom: 0rem;
	margin-bottom: 3.5555555555555554rem;
}

#content-post_z65wpidsk #content_9m0sj92hv .is-content {}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_9m0sj92hv {
		padding-right: 2.6666666666666665rem;
		padding-left: 2.6666666666666665rem;
	}
	#content-post_z65wpidsk #content_9m0sj92hv .is-content {}
}

#content-post_z65wpidsk #column_wp4xc9kfq {}

#content-post_z65wpidsk #content_l6jf7h6i3 {
	padding-top: 0rem;
	margin-top: 0rem;
}

#content-post_z65wpidsk #content_l6jf7h6i3 .is-content {
	box-shadow: 0rem 0rem 0rem 0rem rgba(0, 0, 0, 1);
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	#content-post_z65wpidsk #content_l6jf7h6i3 {
		margin-top: 3.111111111111111rem;
	}
	#content-post_z65wpidsk #content_l6jf7h6i3 .is-content {}
}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_l6jf7h6i3 {
		margin-top: 0rem;
	}
	#content-post_z65wpidsk #content_l6jf7h6i3 .is-content {}
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #content_l6jf7h6i3 {
		margin-top: 0rem;
	}
	#content-post_z65wpidsk #content_l6jf7h6i3 .is-content {}
}

#content-post_z65wpidsk #content_ui10qbnan {
	padding-top: 1.3333333333333333rem;
	margin-top: 1.3333333333333333rem;
}

#content-post_z65wpidsk #content_ui10qbnan .is-content {}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #content_ui10qbnan {
		padding-top: 0rem;
	}
	#content-post_z65wpidsk #content_ui10qbnan .is-content {}
}

#content-post_z65wpidsk #column_bc6df7c71 {
	padding-bottom: 6.666666666666667rem;
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #column_bc6df7c71 {
		padding-bottom: 3.5555555555555554rem;
	}
}

#content-post_z65wpidsk #column_48c0d15ba {
	background-color: #ffffff;
	opacity: 1;
	border-color: #000000;
	border-width: 0;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	transform: translateY(2.6667rem) translateX(0rem) rotate(0deg) rotateY(0deg) rotateX(0deg) skew(0deg, 0deg) scale(1, 1);
}

#content-post_z65wpidsk #column_hs23ng7dh {
	opacity: 1;
	border-color: #000000;
	border-width: 0;
	background-color: transparent;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	transform: translateY(2.6667rem) translateX(0rem) rotate(0deg) rotateY(0deg) rotateX(0deg) skew(0deg, 0deg) scale(1, 1);
}

#content-post_z65wpidsk #content_l6jf7h6i3 .is-content {
	opacity: 1;
	border-color: #000000;
	border-width: 0;
	background-color: transparent;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	transform: translateY(1.7778rem) translateX(0rem) rotate(0deg) rotateY(0deg) rotateX(0deg) skew(0deg, 0deg) scale(1, 1);
}

#content-post_z65wpidsk #section_1sak4otzv {
	padding-top: 5.333333333333333rem;
	background-color: transparent;
}

#content-post_z65wpidsk #column_dkpio16dx {
	padding-top: 0rem;
}

#content-post_z65wpidsk #content_9d3ypsqa8 {
	padding-top: 6.666666666666667rem;
	padding-bottom: 0rem;
}

#content-post_z65wpidsk #content_9d3ypsqa8 .is-content {}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_9d3ypsqa8 {
		padding-right: 2.6666666666666665rem;
		padding-left: 2.6666666666666665rem;
	}
	#content-post_z65wpidsk #content_9d3ypsqa8 .is-content {}
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #content_9d3ypsqa8 {
		padding-top: 3.5555555555555554rem;
	}
	#content-post_z65wpidsk #content_9d3ypsqa8 .is-content {}
}

#content-post_z65wpidsk #content_qglnkgi2o {
	padding-top: 1.3333333333333333rem;
	margin-right: 0rem;
	padding-bottom: 0rem;
	margin-bottom: 3.5555555555555554rem;
}

#content-post_z65wpidsk #content_qglnkgi2o .is-content {}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_qglnkgi2o {
		padding-right: 2.6666666666666665rem;
		padding-left: 2.6666666666666665rem;
	}
	#content-post_z65wpidsk #content_qglnkgi2o .is-content {}
}

#content-post_z65wpidsk #column_w4oyeqsve {}

#content-post_z65wpidsk #content_l931xk61c {
	margin-top: 0rem;
}

#content-post_z65wpidsk #content_l931xk61c .is-content {}

@media screen and (min-width: 992px) and (max-width: 1169.98px) {
	#content-post_z65wpidsk #content_l931xk61c {
		margin-top: 0rem;
	}
	#content-post_z65wpidsk #content_l931xk61c .is-content {}
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	#content-post_z65wpidsk #content_l931xk61c {
		margin-top: 0rem;
		padding-left: 0rem;
		margin-left: 0rem;
	}
	#content-post_z65wpidsk #content_l931xk61c .is-content {}
}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_l931xk61c {
		margin-top: 0rem;
	}
	#content-post_z65wpidsk #content_l931xk61c .is-content {}
}

#content-post_z65wpidsk #content_ozerepffm {
	padding-top: 1.3333333333333333rem;
	margin-top: 1.3333333333333333rem;
}

#content-post_z65wpidsk #content_ozerepffm .is-content {}

#content-post_z65wpidsk #column_m4hhx350s {
	padding-bottom: 6.666666666666667rem;
	background-color: transparent;
}

#content-post_z65wpidsk #column_dkpio16dx {
	opacity: 1;
	border-color: #000000;
	border-width: 0;
	background-color: transparent;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	transform: translateY(2.6667rem) translateX(0rem) rotate(0deg) rotateY(0deg) rotateX(0deg) skew(0deg, 0deg) scale(1, 1);
}

#content-post_z65wpidsk #content_l931xk61c .is-content {
	opacity: 1;
	border-color: #000000;
	border-width: 0;
	background-color: transparent;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	transform: translateY(1.7778rem) translateX(0rem) rotate(0deg) rotateY(0deg) rotateX(0deg) skew(0deg, 0deg) scale(1, 1);
}

#content-post_z65wpidsk #section_do2gu0r4a {
	padding-top: 5.333333333333333rem;
	background-color: transparent;
}

#content-post_z65wpidsk #column_rmeufygcr {
	padding-top: 0rem;
}

#content-post_z65wpidsk #content_a6s56ozqx {
	padding-top: 6.666666666666667rem;
	padding-bottom: 0rem;
}

#content-post_z65wpidsk #content_a6s56ozqx .is-content {}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_a6s56ozqx {
		padding-right: 2.6666666666666665rem;
		padding-left: 2.6666666666666665rem;
	}
	#content-post_z65wpidsk #content_a6s56ozqx .is-content {}
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #content_a6s56ozqx {
		padding-top: 3.5555555555555554rem;
	}
	#content-post_z65wpidsk #content_a6s56ozqx .is-content {}
}

#content-post_z65wpidsk #content_dhqrnaam2 {
	padding-top: 1.3333333333333333rem;
	margin-right: 0rem;
	padding-bottom: 0rem;
	margin-bottom: 3.5555555555555554rem;
}

#content-post_z65wpidsk #content_dhqrnaam2 .is-content {}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_dhqrnaam2 {
		padding-right: 2.6666666666666665rem;
		padding-left: 2.6666666666666665rem;
	}
	#content-post_z65wpidsk #content_dhqrnaam2 .is-content {}
}

#content-post_z65wpidsk #column_3ad8d7s2a {}

#content-post_z65wpidsk #content_rxi1kto98 {
	padding-top: 0rem;
	margin-top: 0rem;
}

#content-post_z65wpidsk #content_rxi1kto98 .is-content {}

#content-post_z65wpidsk #content_auacev1fk {
	padding-top: 1.3333333333333333rem;
	margin-top: 1.3333333333333333rem;
}

#content-post_z65wpidsk #content_auacev1fk .is-content {}

#content-post_z65wpidsk #column_c7qogvhuv {
	padding-bottom: 6.666666666666667rem;
	background-color: transparent;
}

#content-post_z65wpidsk #column_rmeufygcr {
	opacity: 1;
	border-color: #000000;
	border-width: 0;
	background-color: transparent;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	transform: translateY(2.6667rem) translateX(0rem) rotate(0deg) rotateY(0deg) rotateX(0deg) skew(0deg, 0deg) scale(1, 1);
}

#content-post_z65wpidsk #content_rxi1kto98 .is-content {
	opacity: 1;
	border-color: #000000;
	border-width: 0;
	background-color: transparent;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	transform: translateY(1.7778rem) translateX(0rem) rotate(0deg) rotateY(0deg) rotateX(0deg) skew(0deg, 0deg) scale(1, 1);
}

#content-post_z65wpidsk #section_148w0e467 {
	padding-top: 5.333333333333333rem;
	background-color: transparent;
}

#content-post_z65wpidsk #column_qp1ivejdh {
	padding-top: 0rem;
}

#content-post_z65wpidsk #content_ki1jlh6xy {
	padding-top: 6.666666666666667rem;
	padding-bottom: 0rem;
}

#content-post_z65wpidsk #content_ki1jlh6xy .is-content {}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_ki1jlh6xy {
		padding-top: 4.444444444444445rem;
		padding-left: 2.6666666666666665rem;
	}
	#content-post_z65wpidsk #content_ki1jlh6xy .is-content {}
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #content_ki1jlh6xy {
		padding-top: 3.5555555555555554rem;
	}
	#content-post_z65wpidsk #content_ki1jlh6xy .is-content {}
}

#content-post_z65wpidsk #content_lxxdlh35u {
	padding-top: 1.3333333333333333rem;
	margin-right: 0rem;
	padding-bottom: 0rem;
	margin-bottom: 3.5555555555555554rem;
}

#content-post_z65wpidsk #content_lxxdlh35u .is-content {}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_lxxdlh35u {
		padding-right: 2.6666666666666665rem;
		padding-left: 2.6666666666666665rem;
	}
	#content-post_z65wpidsk #content_lxxdlh35u .is-content {}
}

#content-post_z65wpidsk #column_hzsf7imr4 {}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #column_hzsf7imr4 {
		border-style: solid;
	}
}

#content-post_z65wpidsk #content_zvzsmb87z {
	margin-top: 0rem;
}

#content-post_z65wpidsk #content_zvzsmb87z .is-content {}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	#content-post_z65wpidsk #content_zvzsmb87z {
		margin-top: 1.7777777777777777rem;
	}
	#content-post_z65wpidsk #content_zvzsmb87z .is-content {}
}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_zvzsmb87z {
		margin-top: 0rem;
		margin-left: 2.111111111111111rem;
	}
	#content-post_z65wpidsk #content_zvzsmb87z .is-content {}
}

#content-post_z65wpidsk #content_ivd21jacc {
	padding-top: 1.3333333333333333rem;
	margin-top: 1.3333333333333333rem;
}

#content-post_z65wpidsk #content_ivd21jacc .is-content {}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_ivd21jacc {
		padding-top: 0rem;
	}
	#content-post_z65wpidsk #content_ivd21jacc .is-content {}
}

#content-post_z65wpidsk #column_l8nkfw5ze {
	padding-bottom: 6.666666666666667rem;
	background-color: transparent;
}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #column_l8nkfw5ze {
		padding-bottom: 3.5555555555555554rem;
	}
}

#content-post_z65wpidsk #column_qp1ivejdh {
	opacity: 1;
	border-color: #000000;
	border-width: 0;
	background-color: transparent;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	transform: translateY(2.6667rem) translateX(0rem) rotate(0deg) rotateY(0deg) rotateX(0deg) skew(0deg, 0deg) scale(1, 1);
}

#content-post_z65wpidsk #content_zvzsmb87z .is-content {
	opacity: 1;
	border-color: #000000;
	border-width: 0;
	background-color: transparent;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	transform: translateY(1.7778rem) translateX(0rem) rotate(0deg) rotateY(0deg) rotateX(0deg) skew(0deg, 0deg) scale(1, 1);
}

#content-post_z65wpidsk #section_bacb6ab6d {
	margin-top: 6.666666666666667rem;
}

#content-post_z65wpidsk #content_595c074cf {
	padding-top: 0rem;
	margin-top: 5.333333333333333rem;
	padding-bottom: 0rem;
}

#content-post_z65wpidsk #content_595c074cf .is-content {}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_595c074cf {
		padding-right: 0rem;
		padding-left: 2.6666666666666665rem;
	}
	#content-post_z65wpidsk #content_595c074cf .is-content {}
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #content_595c074cf {
		margin-top: 3.5555555555555554rem;
	}
	#content-post_z65wpidsk #content_595c074cf .is-content {}
}

#content-post_z65wpidsk #content_ba1e8fc96 {
	padding-top: 1.3333333333333333rem;
	margin-top: 0.4444444444444444rem;
	padding-bottom: 0rem;
	margin-bottom: 0rem;
}

#content-post_z65wpidsk #content_ba1e8fc96 .is-content {}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_ba1e8fc96 {
		padding-right: 2.6666666666666665rem;
		padding-left: 2.6666666666666665rem;
	}
	#content-post_z65wpidsk #content_ba1e8fc96 .is-content {}
}

#content-post_z65wpidsk #column_85dd83cdd {
	padding-bottom: 6.666666666666667rem;
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #column_85dd83cdd {
		padding-bottom: 3.5555555555555554rem;
	}
}

#content-post_z65wpidsk #section_bc728a6e2 {
	padding-top: 0rem;
	margin-top: 6.666666666666667rem;
	background-color: #f9f9f9;
}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #section_bc728a6e2 {
		padding-right: 0rem;
		padding-left: 0rem;
	}
}

#content-post_z65wpidsk #column_253334745 {
	padding-top: 5.333333333333333rem;
	padding-bottom: 0rem;
}

#content-post_z65wpidsk #content_388664756 {
	padding-top: 0rem;
	padding-bottom: 0rem;
	margin-bottom: 1.3333333333333333rem;
}

#content-post_z65wpidsk #content_388664756 .is-content {}

@media screen and (min-width: 992px) and (max-width: 1169.98px) {
	#content-post_z65wpidsk #content_388664756 {
		padding-left: 1.7777777777777777rem;
	}
	#content-post_z65wpidsk #content_388664756 .is-content {}
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	#content-post_z65wpidsk #content_388664756 {
		padding-left: 1.7777777777777777rem;
	}
	#content-post_z65wpidsk #content_388664756 .is-content {}
}

#content-post_z65wpidsk #content_51cb32c11 {
	padding-top: 0rem;
	padding-bottom: 0rem;
}

#content-post_z65wpidsk #content_51cb32c11 .is-content {}

@media screen and (min-width: 992px) and (max-width: 1169.98px) {
	#content-post_z65wpidsk #content_51cb32c11 {
		padding-left: 1.7777777777777777rem;
	}
	#content-post_z65wpidsk #content_51cb32c11 .is-content {}
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	#content-post_z65wpidsk #content_51cb32c11 {
		padding-left: 1.7777777777777777rem;
	}
	#content-post_z65wpidsk #content_51cb32c11 .is-content {}
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #content_51cb32c11 {
		margin-bottom: 1.7777777777777777rem;
	}
	#content-post_z65wpidsk #content_51cb32c11 .is-content {}
}

#content-post_z65wpidsk #content_2789bb211 {
	padding-top: 0rem;
	padding-bottom: 0rem;
}

#content-post_z65wpidsk #content_2789bb211 .is-content {}

@media screen and (min-width: 992px) and (max-width: 1169.98px) {
	#content-post_z65wpidsk #content_2789bb211 {
		padding-left: 1.7777777777777777rem;
	}
	#content-post_z65wpidsk #content_2789bb211 .is-content {}
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	#content-post_z65wpidsk #content_2789bb211 {
		padding-left: 1.7777777777777777rem;
	}
	#content-post_z65wpidsk #content_2789bb211 .is-content {}
}

#content-post_z65wpidsk #content_17f30afe4 {
	padding-top: 0rem;
	padding-bottom: 0rem;
}

#content-post_z65wpidsk #content_17f30afe4 .is-content {}

@media screen and (min-width: 992px) and (max-width: 1169.98px) {
	#content-post_z65wpidsk #content_17f30afe4 {
		padding-left: 1.7777777777777777rem;
	}
	#content-post_z65wpidsk #content_17f30afe4 .is-content {}
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	#content-post_z65wpidsk #content_17f30afe4 {
		padding-left: 1.7777777777777777rem;
	}
	#content-post_z65wpidsk #content_17f30afe4 .is-content {}
}

#content-post_z65wpidsk #content_586e5e8cf .spacer {
	height: 0.05555555555555555rem;
}

#content-post_z65wpidsk #content_586e5e8cf {
	padding-top: 1.3333333333333333rem;
	padding-right: 0rem;
	padding-bottom: 2.6666666666666665rem;
}

#content-post_z65wpidsk #content_586e5e8cf .is-content {}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_586e5e8cf {
		padding-bottom: 0rem;
	}
	#content-post_z65wpidsk #content_586e5e8cf .is-content {}
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #content_586e5e8cf {
		padding-top: 2.6666666666666665rem;
	}
	#content-post_z65wpidsk #content_586e5e8cf .is-content {}
}

#content-post_z65wpidsk #column_606931689 {
	padding-top: 0rem;
}

#content-post_z65wpidsk #content_809fef910 {
	padding-top: 0rem;
	padding-bottom: 0rem;
}

#content-post_z65wpidsk #content_809fef910 .is-content {}

@media screen and (min-width: 992px) and (max-width: 1169.98px) {
	#content-post_z65wpidsk #content_809fef910 {
		padding-left: 1.7777777777777777rem;
	}
	#content-post_z65wpidsk #content_809fef910 .is-content {}
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	#content-post_z65wpidsk #content_809fef910 {
		padding-left: 1.7777777777777777rem;
	}
	#content-post_z65wpidsk #content_809fef910 .is-content {}
}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_809fef910 {
		margin-top: 2.6666666666666665rem;
	}
	#content-post_z65wpidsk #content_809fef910 .is-content {}
}

#content-post_z65wpidsk #column_c35bc5fd9 {
	padding-top: 4.444444444444445rem;
	padding-bottom: 0rem;
}

#content-post_z65wpidsk #column_8936a6a61 {
	padding-top: 0rem;
}

#content-post_z65wpidsk #content_4bcc9b7e0 {
	padding-top: 0rem;
	padding-bottom: 0rem;
}

#content-post_z65wpidsk #content_4bcc9b7e0 .is-content {}

@media screen and (min-width: 992px) and (max-width: 1169.98px) {
	#content-post_z65wpidsk #content_4bcc9b7e0 {
		padding-right: 1.7777777777777777rem;
	}
	#content-post_z65wpidsk #content_4bcc9b7e0 .is-content {}
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	#content-post_z65wpidsk #content_4bcc9b7e0 {
		padding-right: 1.7777777777777777rem;
	}
	#content-post_z65wpidsk #content_4bcc9b7e0 .is-content {}
}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_4bcc9b7e0 {
		margin-top: 2.6666666666666665rem;
	}
	#content-post_z65wpidsk #content_4bcc9b7e0 .is-content {}
}

#content-post_z65wpidsk #column_8e21ead76 {
	padding-top: 0rem;
	padding-bottom: 5.333333333333333rem;
}

#content-post_z65wpidsk .transition-wrap {
	background-color: #f9fafa;
}

.main-content .row {
	background: #ffffff !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.project-info {
	padding-left: 20px !important;
	padding-right: 20px !important;
}

#content-post_z65wpidsk #section_236c6b649 {
	padding-top: 2.2222222222222223rem;
	background-color: #ffffff;
}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #section_236c6b649 {
		padding-top: 2.2222222222222223rem;
	}
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #section_236c6b649 {
		padding-top: 2.2222222222222223rem;
	}
}

#content-post_z65wpidsk #content_387aeccff {
	padding-top: 0rem;
	padding-right: 1.1111111111111112rem;
	margin-right: 0rem;
	padding-left: 1.1111111111111112rem;
}

#content-post_z65wpidsk #content_387aeccff .is-content {}

@media screen and (min-width: 992px) and (max-width: 1169.98px) {
	#content-post_z65wpidsk #content_387aeccff {
		padding-right: 0.7777777777777778rem;
		padding-left: 0.7777777777777778rem;
	}
	#content-post_z65wpidsk #content_387aeccff .is-content {}
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	#content-post_z65wpidsk #content_387aeccff {
		padding-right: 0.4444444444444444rem;
		padding-left: 0.4444444444444444rem;
	}
	#content-post_z65wpidsk #content_387aeccff .is-content {}
}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_387aeccff {
		padding-right: 0rem;
		margin-right: 0rem;
		padding-left: 0rem;
	}
	#content-post_z65wpidsk #content_387aeccff .is-content {}
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #content_387aeccff {
		padding-right: 0rem;
		margin-right: 0rem;
		padding-left: 0rem;
	}
	#content-post_z65wpidsk #content_387aeccff .is-content {}
}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #column_e581a4a74 {
		border-style: solid;
	}
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #column_e581a4a74 {
		border-style: solid;
	}
}

#content-post_z65wpidsk #content_2044c7a2b {
	padding-right: 1.1111111111111112rem;
	padding-left: 1.1111111111111112rem;
}

#content-post_z65wpidsk #content_2044c7a2b .is-content {}

@media screen and (min-width: 992px) and (max-width: 1169.98px) {
	#content-post_z65wpidsk #content_2044c7a2b {
		padding-right: 0.7777777777777778rem;
		padding-left: 0.7777777777777778rem;
	}
	#content-post_z65wpidsk #content_2044c7a2b .is-content {}
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	#content-post_z65wpidsk #content_2044c7a2b {
		padding-right: 0.4444444444444444rem;
		padding-left: 0.4444444444444444rem;
	}
	#content-post_z65wpidsk #content_2044c7a2b .is-content {}
}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_2044c7a2b {
		padding-right: 0rem;
		padding-left: 0rem;
	}
	#content-post_z65wpidsk #content_2044c7a2b .is-content {}
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #content_2044c7a2b {
		padding-right: 0rem;
		padding-left: 0rem;
	}
	#content-post_z65wpidsk #content_2044c7a2b .is-content {}
}

#content-post_z65wpidsk #column_7bf5f3680 {
	padding-top: 0rem;
}

#content-post_z65wpidsk #content_7effaa3f9 {
	padding-right: 1.1111111111111112rem;
	padding-left: 1.1111111111111112rem;
}

#content-post_z65wpidsk #content_7effaa3f9 .is-content {}

@media screen and (min-width: 992px) and (max-width: 1169.98px) {
	#content-post_z65wpidsk #content_7effaa3f9 {
		padding-right: 0.7777777777777778rem;
		padding-left: 0.7777777777777778rem;
	}
	#content-post_z65wpidsk #content_7effaa3f9 .is-content {}
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	#content-post_z65wpidsk #content_7effaa3f9 {
		padding-right: 0.4444444444444444rem;
		padding-left: 0.4444444444444444rem;
	}
	#content-post_z65wpidsk #content_7effaa3f9 .is-content {}
}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_7effaa3f9 {
		padding-right: 0rem;
		padding-bottom: 0rem;
		padding-left: 0rem;
	}
	#content-post_z65wpidsk #content_7effaa3f9 .is-content {}
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #content_7effaa3f9 {
		padding-right: 0rem;
		padding-bottom: 0rem;
		padding-left: 0rem;
	}
	#content-post_z65wpidsk #content_7effaa3f9 .is-content {}
}

#content-post_z65wpidsk #content_705ec252c {
	padding-right: 1.1111111111111112rem;
	padding-left: 1.1111111111111112rem;
}

#content-post_z65wpidsk #content_705ec252c .is-content {}

@media screen and (min-width: 992px) and (max-width: 1169.98px) {
	#content-post_z65wpidsk #content_705ec252c {
		padding-right: 0.7777777777777778rem;
		padding-left: 0.7777777777777778rem;
	}
	#content-post_z65wpidsk #content_705ec252c .is-content {}
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	#content-post_z65wpidsk #content_705ec252c {
		padding-right: 0.4444444444444444rem;
		padding-left: 0.4444444444444444rem;
	}
	#content-post_z65wpidsk #content_705ec252c .is-content {}
}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	#content-post_z65wpidsk #content_705ec252c {
		padding-right: 0rem;
		padding-left: 0rem;
	}
	#content-post_z65wpidsk #content_705ec252c .is-content {}
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #content_705ec252c {
		padding-right: 0rem;
		padding-left: 0rem;
	}
	#content-post_z65wpidsk #content_705ec252c .is-content {}
}

#content-post_z65wpidsk #section_dac987db1 {
	background-color: #ffffff;
}

#content-post_z65wpidsk #content_de0220a83 {
	margin-top: 2.6666666666666665rem;
}

#content-post_z65wpidsk #content_de0220a83 .is-content {}

#content-post_z65wpidsk #content_69bed578d {
	margin-top: 2.2222222222222223rem;
	margin-bottom: 2.1666666666666665rem;
}

#content-post_z65wpidsk #content_69bed578d .is-content {}

@media screen and (min-width: 992px) and (max-width: 1169.98px) {
	#content-post_z65wpidsk #content_69bed578d {
		padding-top: 0rem;
	}
	#content-post_z65wpidsk #content_69bed578d .is-content {}
}

@media screen and (max-width: 543.98px) {
	#content-post_z65wpidsk #content_69bed578d {
		margin-top: 2.2222222222222223rem;
		margin-bottom: 2.7777777777777777rem;
	}
	#content-post_z65wpidsk #content_69bed578d .is-content {}
}

.nav_05oeo4qa3 {
	background-color: rgba(255, 255, 255, 0.8);
	;
}

.nav_05oeo4qa3 {
	height: 5.555555555555555rem;
}

.is-frontend #content-post_z65wpidsk .sections {
	margin-top: 5.555555555555555rem;
}

.nav_05oeo4qa3 .navbar-inner .logo a {
	color: #2a2a2a;
}

.nav_05oeo4qa3 .navbar-inner .logo a {
	font-size: 1.1111111111111112rem;
}

.logo a {
	text-transform: uppercase;
}

.logo a {
	letter-spacing: 0.5333333333333333rem;
}

.nav_05oeo4qa3 .navbar-inner .logo {
	align-items: center;
}

.nav_05oeo4qa3 .navbar-inner .hamburger {
	align-items: center;
}

.nav_05oeo4qa3 .navbar-inner .hamburger a.menu-icon span {
	background-color: #000000;
}

.nav_05oeo4qa3 .navbar-inner .hamburger a.menu-icon {
	width: 24;
}

.nav_05oeo4qa3 .navbar-inner .hamburger a.menu-icon span {
	height: 1px;
}

.nav_05oeo4qa3 .navbar-inner .hamburger a.open-menu span::before {
	transform: translateY(-8px);
}

.nav_05oeo4qa3 .navbar-inner .hamburger a.open-menu span::after {
	transform: translateY(8px);
}

.nav_05oeo4qa3 .navbar-inner .hamburger a.open-menu:hover span::before {
	transform: translateY(-10px);
}

.nav_05oeo4qa3 .navbar-inner .hamburger a.open-menu:hover span::after {
	transform: translateY(10px);
}

.nav_05oeo4qa3 .navbar-inner .hamburger a.menu-icon {
	height: 17px;
}

.nav_05oeo4qa3 .navbar-inner .hamburger a.menu-icon span {
	margin-top: 8.5px;
}

.nav_05oeo4qa3 .navbar-inner nav ul li a span {
	font-size: 0.7777777777777778rem;
}

.nav_05oeo4qa3 .navbar-inner nav ul li a span {
	color: #2a2a2a;
}

.nav_05oeo4qa3 .navbar-inner nav ul li a {
	padding-left: 1.3055555555556rem;
}

.nav_05oeo4qa3 .navbar-inner nav ul li a {
	padding-right: 1.3055555555556rem;
}

.nav_05oeo4qa3 .navbar-inner nav ul li a span {
	text-transform: uppercase;
}

.nav_05oeo4qa3 .navbar-inner nav ul li a span {
	letter-spacing: 0.2rem;
}

.nav_05oeo4qa3 .navbar-inner nav ul li a span {
	border-bottom-color: #ff0000;
}

.nav_05oeo4qa3 .navbar-inner nav ul li a:hover span,
.navbar-inner nav ul li.current-menu-item a span,
.navbar-inner nav ul li.current_page_item a span,
.nav_05oeo4qa3 .navbar-inner nav ul li.wrap-focus a span {
	color: #4444fc;
}

.nav_05oeo4qa3 .navbar-inner nav ul li.current-menu-item a span {
	color: #4444fc;
}

.nav_05oeo4qa3 .navbar-inner nav ul li.current_page_item a span {
	color: #4444fc;
}

[data-post-type="project"] .navbar-inner nav ul li.portfolio-grid a span,
[data-post-type="post"] .navbar-inner nav ul li.blog-overview a span {
	color: #4444fc;
}

#overlay-menu {
	background-color: rgba(245, 245, 245, 1);
}

#overlay-menu .overlay-menu-inner nav {
	text-align: center;
}

#overlay-menu .overlay-menu-inner nav ul li a span {
	font-size: 1.3333333333333333rem;
}

#overlay-menu .overlay-menu-inner nav ul li a span {
	color: #4a4a4a;
}

#overlay-menu .overlay-menu-inner nav ul li a {
	padding-top: 1.3333333333333rem;
}

#overlay-menu .overlay-menu-inner nav ul li a {
	padding-bottom: 1.3333333333333rem;
}

#overlay-menu .overlay-menu-inner nav ul li a span {
	text-transform: none;
}

#overlay-menu .overlay-menu-inner nav ul li a span {
	letter-spacing: 0.022222222222222223rem;
}

#overlay-menu .overlay-menu-inner nav ul li a span {
	border-bottom-color: transparent;
}

#overlay-menu .overlay-menu-inner nav ul li a span {
	border-bottom-width: 0rem;
}

#overlay-menu .overlay-menu-inner nav ul li a span {
	padding-bottom: 0rem;
}

#overlay-menu .overlay-menu-inner nav ul li a:hover span {
	color: #8080fc;
}

#overlay-menu .overlay-menu-inner nav ul li.current-menu-item a span {
	color: #8080fc;
}

#overlay-menu .overlay-menu-inner nav ul li.current_page_item a span {
	color: #8080fc;
}

[data-post-type="project"] #overlay-menu .overlay-menu-inner nav ul li.portfolio-grid a span,
[data-post-type="post"] #overlay-menu .overlay-menu-inner nav ul li.blog-overview a span {
	color: #8080fc;
}

#overlay-menu nav ul li a:hover span {
	border-bottom-color: #4a4a4a;
}

#overlay-menu .overlay-menu-inner nav ul li.current-menu-item a span {
	border-bottom-color: #4a4a4a;
}

#overlay-menu .overlay-menu-inner nav ul li.current_page_item a span {
	border-bottom-color: #4a4a4a;
}

[data-post-type="project"] #overlay-menu .overlay-menu-inner nav ul li.portfolio-grid a span,
[data-post-type="post"] #overlay-menu .overlay-menu-inner nav ul li.blog-overview a span {
	border-bottom-color: #4a4a4a;
}

@media screen and (min-width: 992px) and (max-width: 1169.98px) {
	.nav_05oeo4qa3 .navbar-inner .hamburger a.menu-icon {
		height: 17px;
	}
	.nav_05oeo4qa3 .navbar-inner .hamburger a.menu-icon span {
		margin-top: 8.5px;
	}
	#overlay-menu .overlay-menu-inner nav ul li a {
		padding-top: 1.3333333333333rem;
	}
	#overlay-menu .overlay-menu-inner nav ul li a {
		padding-bottom: 1.3333333333333rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.nav_05oeo4qa3 .navbar-inner .hamburger a.menu-icon {
		height: 17px;
	}
	.nav_05oeo4qa3 .navbar-inner .hamburger a.menu-icon span {
		margin-top: 8.5px;
	}
}

@media screen and (min-width: 544px) and (max-width: 767.98px) {
	.nav_05oeo4qa3 .navbar-inner .hamburger a.menu-icon {
		height: 17px;
	}
	.nav_05oeo4qa3 .navbar-inner .hamburger a.menu-icon span {
		margin-top: 8.5px;
	}
}

@media screen and (max-width: 543.98px) {
	.nav_05oeo4qa3 {
		height: 3.3333333333333335rem;
	}
	.is-frontend #content-post_z65wpidsk .sections {
		margin-top: 3.3333333333333335rem;
	}
	.nav_05oeo4qa3 .navbar-inner .hamburger a.menu-icon {
		width: 1.1111111111111112rem;
	}
	.nav_05oeo4qa3 .navbar-inner .hamburger a.open-menu span::before {
		transform: translateY(-6px);
	}
	.nav_05oeo4qa3 .navbar-inner .hamburger a.open-menu span::after {
		transform: translateY(6px);
	}
	.nav_05oeo4qa3 .navbar-inner .hamburger a.open-menu:hover span::before {
		transform: translateY(-8px);
	}
	.nav_05oeo4qa3 .navbar-inner .hamburger a.open-menu:hover span::after {
		transform: translateY(8px);
	}
	.nav_05oeo4qa3 .navbar-inner .hamburger a.menu-icon {
		height: 13px;
	}
	.nav_05oeo4qa3 .navbar-inner .hamburger a.menu-icon span {
		margin-top: 6.5px;
	}
	#overlay-menu .overlay-menu-inner nav ul li a {
		padding-top: 0.83333333333333rem;
	}
	#overlay-menu .overlay-menu-inner nav ul li a {
		padding-bottom: 0.83333333333333rem;
	}
}